:root,
:root[theme="ASCETIC"] {
  --font: #e3e7ea;

  --primary: #757a89;
  --secondary: #78839b;
  --tertiary: #838b84;

  --background-primary: #171f2c;
  --background-secondary: #111720;
  --background-tertiary: #10151d;
}

:root[theme="DISCORD"] {
  --primary: #7289da;

  --heading: white;
  --font: #99aab5;

  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-tertiary: #202225;
}
:root[theme="CLONE"] {
  --primary: #6e8481;
  --secondary: #a2b6ad;
  --tertiary: #576067;

  --heading: white;
  --font: #cacbcd;

  --background-primary: #414244;
  --background-secondary: #37373a;
  --background-tertiary: #323335;
}
:root[theme="COSMIC"] {
  --heading: #ffffff;
  --font: #acb9d5;

  --primary: #6e80ad;
  --secondary: #8199bb;
  --tertiary: #465689;

  --background-primary: #0f1a31;
  --background-secondary: #070d1a;
  --background-tertiary: #060b18;
}
