section#generalModule.module.css-transitions-only-after-page-load
    form(action=`/servers/${guild.id}/general?_method=PUT`, method="POST")
    .jumbotron.bg-transparent.pb-0
        h1.display-4.text-center General
    .form-group.my-5
        .row
            .col-4
                label Prefix
                input.form-control(type='text', name='prefix', value=savedGuild.prefix,
                    maxlength='5', required)
    button.btn.btn-success #[i.fas.fa-rocket] Save
        .col-4       
script(src="/js/general.js", defer)